{% include "header.html" %}

<br><br>
<br>
<div class="container">

  <div class="row d-flex justify-content-around">
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        RGB-Standard
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <a class="dropdown-item" href="/level1">Level 1</a>
        <a class="dropdown-item" href="/level2">Level 2</a>
        <a class="dropdown-item" href="/level3">Level 3</a>
      </div>
    </div>

    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        RGB-Telemetry
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
        <a class="dropdown-item" href="/level1">Level 1</a>
        <a class="dropdown-item" href="/level2">Level 2</a>
        <a class="dropdown-item" href="/level3">Level 3</a>
      </div>
    </div>


    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        RGB-Checker
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
        <a class="dropdown-item" href="/level1">Something</a>
        <a class="dropdown-item" href="/level2">Something</a>
        <a class="dropdown-item" href="/level3">Something</a>
      </div>
    </div>


  </div>

</div>
<br><br><br>


{% include "footer.html" %}
