{% include "header.html" %}
<h1>Green500 Level Three</h1>
    <div class = "container">
        <div class = "row main">
            <div class = "col-6"
                <form>
                        <div class="form-group">
                        <label for="Upload ">Upload Cluster File</label>
                        <input type="file" class="form-control-file" id="exampleFormControlFile1">
                        </div>
                </form>
            </div>
        </div>
    </div>

{% include "footer.html" %}
