.navbar {
    background-color: #aec9da;
}

h1 {
    text-align: center;
}

.btn-circle{ 
            width: 70px;
            height: 70px;
            padding: 10px 16px;
            border-radius: 35px;
            font-size: 12px;
            text-align: center;
        }


.main {
    margin-top: 5em;
}