.navbar {
    background-color: #87cefa;
}

h1 {
    text-align: center;
}


.main {
    margin-top: 5em;
}


.dropdown:hover > .dropdown-menu {
    display: block;
}
.dropdown > .dropdown-toggle:active {
    pointer-events: none;
}
